---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family:  sans-serif;
$serif-font-family: 'Libre Baskerville', serif;
$base-font-size:    18px;
$base-line-height:  1.6;
$box-width:         2px;
$link-hover:        #fff;
$spacing-unit:      1.5em;
// $salmon:            #ff5858;
// $purple:            #61234e;
// $rose:              #bb1542;
$dark-grey:         #2a2a2b;
$light-grey:        #bdc3c7;
$highlight:         #ff5858;
$body-background:   #fff;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "layout",
        "syntax-highlighting"
;
