<aside class="main-header">
  <header class="module">
    <h1><a href="/"><b>{{ site.title }}</b></a></h1>
  </header>
  <div class="module color2">
    <b>Hi there! </b>{{ site.description }}
  </div>
  <nav class="module color4">
    <a href="/">Blog</a>
    <a href="/tags/">Tags</a>
    <a href="/categories/">Categories</a>
    <a href="/about/">About</a>
    <a href="/now/">Now</a>
  </nav>
  <div class="module color3">
    <a style="font-weight: medium" href="https://twitter.com/keegan_mcnamara" target="_blank">@keegan_mcnamara</a>
    <a style="font-weight: medium" href="mailto:keemcn1@gmail.com" target="_blank">keemcn1@gmail.com</a>
  </div>
</aside>
