<aside class="main-header">
  <header class="module">
    <h1><a href="/"><b>{{ site.title }}</b></a></h1>
  </header>
  <div style="color: white;" class="module color2">
    {{ site.description }}
  </div>
  <nav class="module color4">
    <a href="/">Blog</a>
    <a href="/about/">About</a>
  </nav>
  <div class="module color3">
    <a style="color: black;" href="https://twitter.com/keegan_mcnamara">@keegan_mcnamara</a>
    <a style="color: black;" href="mailto:keemcn1@gmail.com">keemcn1@gmail.com</a>
  </div>
</aside>
