<aside class="main-header">
  <header class="module">
    <h1><a href="/"><b>{{ site.title }}</b></a></h1>
  </header>
  <div class="module color2">
    <span><i>Hi – </i>{{ site.description }}</span>
  </div>
  <nav class="module color4">
    <div>
      <a href="/">Blog</a>
      <a href="/categories/">Categories</a>
      <a href="/tags/">Tags</a>
    </div>
    <div>
      <a href="/about/">About</a>
      <a href="/now/">Now</a>
      <a href="/aisthetikos/">αἰσθητικός</a>
    </div>
  </nav>
  <div class="module color3">
    <a style="font-weight: medium; padding: .3em;" href="https://twitter.com/keegan_mcnamara" target="_blank">@keegan_mcnamara</a>
    <a style="font-weight: medium; padding: .3em;" href="mailto:keemcn1@gmail.com" target="_blank">keemcn1@gmail.com</a>
  </div>
</aside>
